{% extends 'base.html' %}

{% block static %}
<script src="https://cdn.jsdelivr.net/npm/marked@0.7.0/lib/marked.min.js"></script>
<script>
    marked.setOptions({
        gfm: true,
    })
    $(() => {
        $('.content').html(marked($('.hidden').text()))
        $('.edit-button').on('click', () => {
            window.location.href += "/edit"
        })
    })
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{content.title}}</h1>
        </div>
        <div class="col" style="text-align: right">
            <button class="btn btn-primary edit-button">Edit</button>
        </div>
    </div>
    <hr>
    <div class="content">
    </div>
    <div class="comments">
        <textarea name="comment" id="comment" rows="10" placeholder="Comment here!">

        </textarea>
        {% for comment in comments recursive %}
        <div class="comment">
            <h3>{{comment.username}}</h3>
            <p>{{comment.text}}</p>
            <textarea name="comment" id="comment_{{comment.id}}" rows="4" placeholder="Comment here!">
            
            </textarea>
            {% if len(comment.sub_comments) %}
            <div class="children">
                {{ loop(comment.sub_comments) }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="hidden" style="display: none">
        {{content.text}}
    </div>
</div>
{% endblock %}