{% extends 'base.html' %}

{% block static %}
<script>
    $(() => {
        $('.comment').on('click', function () {
            $.ajax({
                type: "POST",
                url: window.location.href,
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({
                    "username": $(".username").value(),
                    "text": $(this).parent().children('textarea').value()
                })
            })
        })
    })
</script>

<style>

    textarea {
        width: 100%;
    }

    .comment {
        padding: 10px;
        border: 2px solid black;
    }

    .hidden {
        display: none;
    }

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{content.title}}</h1>
        </div>
        <div class="col" style="text-align: right">
            <button class="btn btn-primary edit-button">Edit</button>
        </div>
    </div>
    <hr>
    <div class="content">
        {{content.text|markdown}}
    </div>
    <hr>
    <div class="comments">
        <div class="input-group mb-3">
            <textarea name="comment" id="comment" rows="8" placeholder="Comment here!"></textarea>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" class=comment>Comment</button>
            </div>
        </div>
        {% for comment in comments recursive %}
        <div class="comment">
            <h3>{{comment.username}}</h3>
            <p>{{comment.text|markdown}}</p>
            <textarea name="comment" id="comment_{{comment.id}}" rows="4" placeholder="Comment here!"></textarea>
            {% if comment.sub_comments != [] %}
            <div class="children">
                {{ loop(comment.sub_comments) }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}